*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
html/
nbproject/private/
nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
funclist
nbproject/Makefile-*
disassembly/
*.map
image/
.generated_files/
Hex/
LibConfig_old.h
defmplabxtrace.log.inx
debug/Debug_PIC24FJ1024GB610/default_ptg/ptgdata
debug/Debug_PIC24FJ1024GB610/default_ptg/write_Pgm_st_0x0_op5_0.dat
