[submodule "KG-Lib"]
	path = KG-Lib
	url = https://github.com/K-G-Tectronic-GmbH/KG-Lib.git
	branch = develop
[submodule "KG-Bootloader"]
	path = KG-Bootloader
	url = https://github.com/K-G-Tectronic-GmbH/KG-Bootloader.git
	branch = develop
[submodule "GitVersion"]
	path = GitVersion
	url = https://github.com/K-G-Tectronic-GmbH/GitVersion.git
	branch = main